.App {
  text-align: left;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

  


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items:center ;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
  border: 2px solid rgb(230, 10, 10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
  
}
.box>* {
  height:200px;
  padding: 20px;
  border: 2px solid rgb(96, 139, 168);
  border-radius: 5px;
  background-color: rgba(96, 139, 168, .2);
}

.box>*:first-child {
  /* animation: App-logo-spin infinite 20s linear; */
  align-self: stretch;
  height: 300px;

}

.box .App-logo {
  align-self: center;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
